.item {
  font-size: 0.9rem;
  transition: background-color 100ms ease-out;
  cursor: pointer;
}

.item:hover:not(.selected) {
  background-color: var(--tree-item-background-hover);
}

.item:active:not(.selected) {
  background-color: var(--tree-item-background-active);
}

.folderIcon {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
}

.selected {
  background-color: var(--tree-item-background-selected);
  color: var(--tree-item-text-selected);
}
